APP_DB_HOST=//Host de la base de datos
APP_DB_PORT=//puerto de la base de datos
APP_DB_DATABASE=//nombre de la base de datos
APP_DB_USERNAME=//usuario de la base de datos
APP_DB_PASSWORD=//contraseña de la base de datos

